    .hero{
        width: 100%;
        height: 100vh;
        /* background-image: url(images/dark.jg); */

    }
    #preloader{
    background: #000 url(images/km.gif) no-repeat  center center ;
    background-size: 100%;
    width: 100%;
    height: 100vh;
    /* position: fixed; */
    /* z-index: 100; */
    }
    @media screen {
        
    }
    img{
    width: 97vw;   
    opacity: 90%;
    }
    video{
        width: 100%;
        offset-inline-end: auto;
    }
  .logo{
    width: 120px;
  }
  .OP{
    margin-bottom: 100PX;
  }
  .image{
    display: flex;
  justify-content: space-evenly;

  }
  .core{
    margin-top: 100px;
    margin-left: 556px;
  }
  .cor{
    margin-top: 50px;
    margin-left: 556px;
    margin-bottom:110px;
  }
  .image-name{
    display: flex;
    justify-content: space-evenly;
    margin-left: 50px;
  }
