    .hero{
        width: 100%;
        height: 100vh;
    }
    #preloader{
    background: #000 url(images/km.gif) no-repeat  center center ;
    background-size: 100%;
    width: 100%;
    height: 100vh;
    }
    img{
    width: 97vw;   
    opacity: 90%;
    }
    video{
        width: 100%;
      offset-inline-end: auto;
    }
  .logo{
    width: 110px;
  }
  .OP{
    margin-bottom: 100PX;
  }
  .image{
    display: flex;
    
  }
  .core{
    margin-top: 100vh;
    margin-left: 556vh;
  }
  .cor{
    margin-top: 50wh;
    margin-left: 556wh;
    margin-bottom:110vh;
  }
  .im{
    margin-left:40px; 
    width: 100%;
  }
  @media screen and (max-width: 450px) {
    .image {
      display: flex;         
      flex-wrap: wrap;       
    margin-left: 120px;
    }
  }
  @media screen and (max-width: 450px) {
    .im {
    margin-left: 29px;
    }
  }
  .st {
    margin-top: 5%;
    margin-left: 20px;
    font-size: 3vh;
  }
  
  @media screen and (max-width: 768px) {
    .st {
      margin-left: 10px; /* Adjust margin-left for smaller screens */
    }
  }
  
  @media screen and (max-width: 450px) {
    .st {
      margin-left: 5px; /* Further adjust margin-left for even smaller screens */
    }
  }
  
 
  
  
  
